
/*      */


/* Navigation */

nav ul {
    list-style-type: none;
    margin: 15px 0 0 0 ;
    padding: 0;
    margin-inline-start: 50%;

}


li {
    float: left;
    margin-left: 30px;
}

li a {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 18px;
}

li a:hover {
    color: #407AFE;
    
}

/* Logo */

.logo {
    position: absolute;
    width: 120px;
    height: 50.48px;
    left: 3%;
    top: 0px;
}

.theme1 {
    position: absolute;
    width: 744px;
    height: 698px;
    left: 516px;
    top: 164px;
}

.theme2 {
    position: absolute;
    width: 1265px;
    height: 481.68px;
    left: -2px;
    top: 380.84px;
}

.theme3 {
    position: absolute;
    width: 1305px;
    height: 491.68px;
    left: -0.5%;
    top: 290.84px;
}

.theme4 {
    position: absolute;
    width: 38%;
    height: 646px;
    left: 3.5%;
    top: 646px;
}



/* Home About Us */

p.about {
    position: absolute;
    top: 100px;
    left: 10%;
    font-size: 28px;
    font-family: Verdana, 'Courier New', Tahoma, sans-serif;
}

/* Find eligible course button */

.button1 {
    /* position: absolute;
    top: 350px;
    left: 10%;
    height: 62px; */
    /* width: 383px; */
    background: #407AFE;
    border: 1px solid white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    text-align: center;
    color: white;
    font-size: 32px;
    /* cursor: pointer; */
}

#button2 {
    text-decoration: none;
    color: white;
}



#button {
    position: absolute;
    top: 1150px;
    left: 61%;
    /* height: 35px; */
    /* width: 123px; */
    padding: 20px 65px 20px 20px ;
    color: #CFDDFE;
}

.button1:hover {
    background-color: #5c89f2;
}



div.arrow1 {
    height: 2px;
    width: 22.62px;
    background-color: #CFDDFE;
    position: absolute;
    top: 1187px;
    left: 77%;
    z-index: 1;
}
/* 2.9px 0.45 */
div.arrow2 {
    height: 1.9px;
    width: 16px;
    background-color: #CFDDFE;
    position: absolute;
    top: 1183.5px;
    left: 77.54%;
    transform: rotate(25deg);
    z-index: 1;
}
/* 6.3 */
div.arrow3 {
    height: 1.9px;
    width: 15.50px;
    background-color: #CFDDFE;
    position: absolute;
    top: 1191.2px;
    left: 77.54%;
    transform: rotate(-25deg);
    z-index: 1;
}

/* Form Heading */

.form-heading {
    position: absolute;
    top: 900px;
    left: 50%;
    font-family: Verdana, 'Courier New', Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 600;   
}

/* Form Creating */

/* .select {
    position: absolute;
    width: 143px;
    height: 25px;
    left: 42%;
    top: 1314px;
    background-color: #EFF6FF;
    font-weight: 700;
    border-radius: 4px;
} */

/* #stream {
    
    position: absolute;
    left: 42%;
    width: 163px;
    padding: 0 2px 0 2px;
    font-weight: 550;

} */

/* Subject */

/* #subject1 {
    position: absolute;
    left: 55.6%;
    width: 163px;
    padding: 0 2px 0 2px;
}

#subject2 {
    position: absolute;
    left: 55.6%;
    width: 163px;
    padding: 0 2px 0 2px;
    top: 1360px;
}

#subject3 {
    position: absolute;
    left: 55.6%;
    width: 163px;
    padding: 0 2px 0 2px;
    top: 1406px;
}

/* Grade */

#grade1 {
    position: absolute;
    left: 69.2%;
    width: 163px;
    padding: 0 2px 0 2px;   
}

#grade2 {
    position: absolute;
    left: 69.2%;
    width: 163px;
    padding: 0 2px 0 2px;
    top: 1360px;   
}

#grade3 {
    position: absolute;
    left: 69.2%;
    width: 163px;
    padding: 0 2px 0 2px;
    top: 1406px;  
} */

div.table-edit {
    position: absolute;
    top: 1700px;
}







